/* Common */
body {
    font: 13px Arial, Helvetica, Garuda, sans-serif;
}
a {
    text-decoration: none;
    color: #734940
}
a:hover {
    text-decoration: underline
}
a:visited,
a:active {
    color: #994a7a
}

/* Header */
.top-links {
    line-height: 26px;
    font-size: 12px
}
.top-links ul {
    list-style: none;
    margin: 0
}
.top-left-menu {
    float: left
}
.top-right-menu {
    float: right
}
.top-links ul li {
    float: left;
    padding: 0 8px 0 2px
}
.top-links ul.top-right-menu li {
    padding: 0 2px 0 8px
}
.top-links a {
    color: #000
}
.header-main {
    background: #734940;
    color: #ab918c
}
.header-main .logo-container {
    border-right: 1px solid #8f6d66;
    text-align: center;
    padding: 20px 0
}
.header-main .logo-container a {
    width: 126px;
    height: 64px;
    background: url('../img/logo.png') no-repeat;
    display: inline-block;
    text-indent: -9999px
}
.header-top-info {
    border-bottom: 1px solid #8f6d66
}
.quote-sign {
    font-family: Georgia, "Nimbus Roman No9 L", serif;
    font-style: italic;
    color: #fff
}
.header-top-info p {
    padding: 10px 0;
    margin: 0
}
.header-top-info .span3 p {
    margin-left: -5%;
    margin-right: 5%;
}
.header-bottom-info .nav {
    margin: 0;
    line-height: 50px
}
.header-bottom-info .nav>li>a {
    color: #fff;
    text-transform: uppercase
}
.header-bottom-info .nav>li>a:hover,
.header-bottom-info .nav>li.active>a {
    background: none
}

/* Bootstrap override */
.row-fluid [class*="span"].margin-to-padding {
    margin-left: 0;
    *margin-left: 0;
    padding-left: 2.127659574468085%;
    *padding-left: 2.127659574468085%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
@media (min-width: 1200px) {
    .row-fluid [class*="span"].margin-to-padding {
        margin-left: 0;
        *margin-left: 0;
        padding-left: 2.564102564102564%;
        *padding-left: 2.5109110747408616%;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .row-fluid [class*="span"].margin-to-padding {
        margin-left: 0;
        *margin-left: 0;
        padding-left: 2.7624309392265194%;
        *padding-left: 2.709239449864817%;
    }
}
@media (max-width: 767px) {
    .row-fluid [class*="span"].margin-to-padding {
        margin-left: 0;
        *margin-left: 0;
        padding-left: 2.7624309392265194%;
        *padding-left: 2.7624309392265194%;
        padding-right: 2.7624309392265194%;
        *padding-right: 2.7624309392265194%;
        width: auto;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }
}